@model FindTutor.Models.registrationModel 
@{
     Layout = null;
}





<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div>
    <h1>Account Details:</h1>
    <h3>First Name: @Model.firstName</h3>
    <h3>Last Name: @Model.lastName</h3>
    <h3>Email: @Model.user_Email</h3>
    <h3>Password: @Model.user_Password</h3>
</div>



<body>




</body>

</html>